body {
	font-family:'Times New Roman', Times, serif;
	
}

.discogr {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.discogr figure {
    width: 250px;
    margin: 0;
}

.discogr img {
	display: block;
	width: 100%;
	height: auto;
}

.discogr figcaption {
	width: 100%;
}



table {
	width: max-content;
	margin: 0 auto;
	border-collapse: collapse;
}

a:link {
	color:#0000AA;
	text-decoration:none;
}

a:visited {
	color:#AA0000;
	text-decoration:none;
}

a:hover{
	color:#AA00AA !important;
	text-decoration:none !important;
}

a:active{
	color:#FF55FF !important;
	text-decoration:none !important;
}