body {
	font-family:'Times New Roman', Times, serif;
	color:#FFFFFF;
	background-color:#000000;
	
}

.discogr {
	font-weight: bold;
	color:#FFFFFF;
	text-align: center;
	font-size: 20px;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.discogr a:link {
	color:#FFFFFF;
	text-decoration:none;
}

.discogr figure {
    width: 256px;
    margin: 0;
}

.discogr img {
	display: block;
	width: 100%;
	height: auto;
}

.discogr figcaption {
	width: 100%;
}



table {
	width: max-content;
	margin: 0 auto;
	border-collapse: collapse;
}


.menu {
	text-align: center;
	font-size: 24px;
}

.menu a:link {
	color:#FFFFFF;
	text-decoration:none;
}

.menu a:visited {
	color:#FFFFFF;
	text-decoration:none;
}

.menu a:hover{
	color:#000000 !important;
	text-decoration:none !important;
	background-color:#AAAAAA !important;
}

.menu a:active{
	color:#000000 !important;
	text-decoration:none !important;
	background-color:#FFFFFF !important;
}