#intro {
	position: fixed;
	inset: 0;
	background: #000000;
	color: #FFFFFF;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	z-index: 9999;
	opacity: 1;
	transition: opacity 1s ease;
}

#intro.fade-out {
	opacity: 0;
}